// colors
$header-text: #3D3E45;
$link: #acb7c0; // anchor tags
$main-text: black;
$background: white;


$color-1: #FFEB77;
$color-2: #41307c; // Minsk
$color-3: #ffffff; // White
$color-4: #9a9a9a; // Grey
$color-5: #f0ca45; // yellow

// fonts

// $primary-font: 'BoonTook Mon Ultra', 'Noto Sans Thai', sans-serif;
$primary-font: 'Noto Sans Thai', sans-serif;
