@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

@import '_variables'; // colors, fonts etc...

@import '_mixins'; // custom mixins

@import '_layout'; // responsive grid and media queries

// $visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;
// $column: 90px;
// $gutter: 30px;
$grid-columns: 12;
// $max-width: em(1088);

@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';

/*--------------------

Variables

--------------------*/
$max-width: em(1088);

// Colors
$background: #e9f0f5;
$color-timeline-section-1: #F9F9F9;
$color-timeline-section-2: #81D3CC;
$color-timeline-section-3: #D381B7;

@import '_tab-filter';
@import '_royalslider-videogallery';
@import '_tabbed-navigation';
@import '_royalslider-animatedblocks';

@import url(../font/thaisansneu.css);

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
	@include box-sizing(border-box);
}

html {
	font-size: 62.5%;

	* {
			@include font-smoothing;
	}

}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	// color: $color-1;
	// background-color: $color-3;
	background-color: #f8f7ee;
}

a {
	color: $color-2;
	text-decoration: none;
}

html, body {
      width: 100%;
      height: 100%;
      // overflow:hidden; // to avoid scrollbars
}

header {
	@include fill-parent;
	height: 40px;

	a {
		&::before {
			/* icons */
			position: absolute;
			top: 6px;
			left: 20px;
			margin-left: -10px;
			display: inline-block;
			height: 26px;
			width: 26px;
			background-image: url('../img/home.svg');
			background-repeat: no-repeat;
			background-size:   cover;
			background-position: center center;
		}
	}
}

footer {
	@include fill-parent;
	height: 100px;
	background-color: #3EA4A6;
}

/*--------------------------------

LearnPaint Course

-------------------------------- */

section.lp-course-wrapper {
	// @include outer-container;
	@include fill-parent;
}

.lp-course-header {
	@include row();
	margin: 0;
	height: 130px;
}

.lp-course-side {
	text-align: center;
	padding: 1em;
	margin: 0;
	height: 130px;
	@include span-columns(12);

	@include MQ(M) {
		@include span-columns(4);
	}

	@include MQ(L) {
		@include span-columns(3);
	}
}

.lp-course-side img {
	display: block;
	height: 3.3em;
	margin: auto;

	@include MQ(M){
		margin-top: -2px;
	}

	@include MQ(M){
		height: 4em;
	}
}

.lp-course-side h1 {
	font-family: 'thaisans_neueblack', 'Noto Sans Thai', 'sans-serif';
	font-size: 1.4em;
	margin-top: 0.7em;
	color: white;

	@include MQ(M) {
		font-size: 1.8em;
		margin-top: 0.3em;
	}

	@include MQ(L) {
		font-size: 2em;
		margin-top: 0.35em;
	}

}

.lp-course-info {
	height: 130px;
	background-color: #FBFDD4;
	padding: 20px 50px;
}
.lp-course-info h1 {
	font-family: 'thaisans_neuebold', 'Noto Sans Thai', 'sans-serif';
	font-size: 1em;
	margin-top: 0.45em;
	line-height: 1.2em;

	@include MQ(M) {
		font-size: 1.6em;
		margin-top: 0em;
		line-height: 1.2em;
	}
}

// .cd-tabs-content [data-content="1"] {
// 	background: #D6F5C7;
// }
//
// .cd-tabs-content [data-content="2"] {
// 	background: #D5E2FF;
// }
//
// .cd-tabs-content [data-content="3"] {
// 	background: #FEF6D1;
// }

#lp-course-1 .lp-course-side {
	background: #7CBF5B;
}

#lp-course-1 .lp-course-info {
	background: #D6F5C7;
}

#lp-course-2 .lp-course-side {
	background: #5B79BF;
}

#lp-course-2 .lp-course-info {
	background: #D5E2FF;
}

#lp-course-3 .lp-course-side {
	background: #F3D43C;
}

#lp-course-3 .lp-course-info {
	background: #FEF6D1;
}

/*--------------------------------

iOS Safari viewport fixed
	https://bugs.webkit.org/show_bug.cgi?id=141832
	http://nicolas-hoizey.com/2015/02/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers.html

-------------------------------- */

.iOSdevicesCourseFixed {
	height: 74vh !important;

	@media all and (orientation:portrait) {
		height: 81vh !important;
	}
	@media all and (orientation:landscape) {
		height: 74.5vh !important;
	}
}

.iOSdevicesFullSlideFixed {
	height: 74vh !important;

	@media all and (orientation:portrait) {
		height: 94.5vh !important;
	}
	@media all and (orientation:landscape) {
		height: 92.4vh !important;
	}
}

/*--------------------------------

General Page

-------------------------------- */

section.lp-page-wrapper {
	@include fill-parent;
}
.lp-page-header {
	@include row();
	margin: 0;
	height: 90px;
	background: #E77C26;
	color: white;
}
.lp-page-header h1 {
	font-family: 'thaisans_neueblack', 'Noto Sans Thai', 'sans-serif';
	font-size: 1.4em;
	text-align: center;
	line-height: 3.7em;

	@include MQ(M) {
		font-size: 2em;
		line-height: 2.9em;
	}
}

/*--------------------------------

Student Portfolio

-------------------------------- */
#lp-student-portfolio {
	@include fill-parent;
}
#lp-student-portfolio .lp-page-header {
	background: #F7F7F7;
}

#lp-student-portfolio .lp-page-header h1 {
	color: black;
}

#student-portfolio-gallery {
	@include fill-parent;
	height: calc(92vh - 90px)  !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.iOSdevicesStudentPortfolioFixed {

	height: calc(90vh - 90px)  !important;


	// iPad in landscape
	// @media only screen
	// and (min-device-width : 768px)
	// and (max-device-width : 1024px)
	// and (orientation : landscape)
	// and (-webkit-min-device-pixel-ratio: 1) {
	// 	height: 70vh !important;
	// }
}

/*--------------------------------

RoyalSlider Video Gallery

-------------------------------- */

#video-gallery-1,
#video-gallery-2,
#video-gallery-3 {
  @include fill-parent;
	// height: 74vh;
	height: calc(100vh - 130px);
}


.iOSdevicesPortrait {
	height: 82vh !important;
}

.royalSlider {
  width: 100%;
}

.videoGallery {
	@include row();
}

/* Background */
.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
	background: #FAFAFA;
	color: #FFF;
}

.videoGallery .rsThumbs .rsThumb {
  width: 250px;
  height: 70px;
  // border-bottom: 1px solid #2E2E2E;
  background: #FAFAFA;
  border-bottom: 1px solid darken(#ECECEC, 2%);
}
.videoGallery .rsThumbs {
  width: 250px;
  padding: 0;

}

.videoGallery .rsThumb.rsNavSelected {
	background-color: #DB0000;

	& h5 {
		color: white;
	}
}

.videoGallery .rsTmb h5 {
	font-family: 'Noto Sans Thai', 'sans-serif';
  font-size: 18px;
  font-weight: 700;
  color: #484848;
	line-height: 25px;
}


/* http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/why-video-is-shifted-on-ipad */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 0;
}

.rsDefault .rsCloseVideoBtn {
	visibility: hidden;
}
