/* --------------------------------

Bourbon & Neat

-------------------------------- */
@import '../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss';

@import '_variables'; // colors, fonts etc...

@import '_mixins'; // custom mixins

@import '_layout'; // responsive grid and media queries

// $visual-grid: true;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.1;
// $column: 90px;
// $gutter: 30px;
$grid-columns: 12;
// $max-width: em(1088);

@import '../../bower_components/neat/app/assets/stylesheets/_neat.scss';

/*--------------------

Override Variables

--------------------*/

// Colors
$background: #e9f0f5;


/* --------------------------------

Import

-------------------------------- */

@import '_royalslider-animatedblocks';
@import '_royalslider-videogallery';
@import '_tabbed-navigation';
@import '_modal-morphing';
@import url(../font/thaisansneu.css);

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
	@include box-sizing(border-box);
}

html {
	font-size: 62.5%;

	* {
			@include font-smoothing;
	}

}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	// color: $color-1;
	// background-color: $color-3;
	background-color: #f8f7ee;
}

a {
	color: $color-2;
	text-decoration: none;
}

html, body {
      width: 100%;
      height: 100%;
      // overflow:hidden; // to avoid scrollbars
}

header {
	@include fill-parent;
	height: 40px;

	a {
		&::before {
			/* icons */
			position: absolute;
			top: 6px;
			left: 20px;
			margin-left: -10px;
			display: inline-block;
			height: 26px;
			width: 26px;
			background-image: url('../img/home.svg');
			background-repeat: no-repeat;
			background-size:   cover;
			background-position: center center;
		}
	}
}

footer {
	@include fill-parent;
	height: 100px;
	background-color: #3EA4A6;
}

/*--------------------------------

LearnPaint Course

-------------------------------- */

section.lp-course-wrapper {
	// @include outer-container;
	@include fill-parent;
}

.lp-course-header {
	@include row();
	margin: 0;
	height: 130px;
}

.lp-course-side {
	text-align: center;
	padding: 1em;
	margin: 0;
	height: 130px;
	@include span-columns(12);

	@include MQ(M) {
		@include span-columns(4);
	}

	@include MQ(L) {
		@include span-columns(3);
	}
}

.lp-course-side img {
	display: block;
	height: 3.3em;
	margin: auto;

	@include MQ(M){
		margin-top: -2px;
	}

	@include MQ(M){
		height: 4em;
	}
}

.lp-course-side h1 {
	font-family: 'thaisans_neueblack', 'Noto Sans Thai', 'sans-serif';
	font-size: 1.4em;
	margin-top: 0.7em;
	color: white;

	@include MQ(M) {
		font-size: 1.8em;
		margin-top: 0.3em;
	}

	@include MQ(L) {
		font-size: 2em;
		margin-top: 0.35em;
	}

}

.lp-course-info {
	height: 130px;
	background-color: #FBFDD4;
	padding: 20px 50px;
}
.lp-course-info h1 {
	font-family: 'thaisans_neuebold', 'Noto Sans Thai', 'sans-serif';
	font-size: 1em;
	margin-top: 0.45em;
	line-height: 1.2em;

	@include MQ(M) {
		font-size: 1.6em;
		margin-top: 0em;
		line-height: 1.2em;
	}
}

// .cd-tabs-content [data-content="1"] {
// 	background: #D6F5C7;
// }
//
// .cd-tabs-content [data-content="2"] {
// 	background: #D5E2FF;
// }
//
// .cd-tabs-content [data-content="3"] {
// 	background: #FEF6D1;
// }

#lp-course-1 .lp-course-side {
	background: #7CBF5B;
}

#lp-course-1 .lp-course-info {
	background: #D6F5C7;
}

#lp-course-2 .lp-course-side {
	background: #5B79BF;
}

#lp-course-2 .lp-course-info {
	background: #D5E2FF;
}

#lp-course-3 .lp-course-side {
	background: #F3D43C;
}

#lp-course-3 .lp-course-info {
	background: #FEF6D1;
}

#lp-course-pre-achievement-quiz .lp-course-side {
	background: #2B9BD3;
}

#lp-course-pre-achievement-quiz .lp-course-info {
	background: #61C4F6;
}

#lp-course-pre-achievement-quiz-intro-wrapper {
  // /*@include fill-parent;*/
	// @include outer-container;  
	@include fill-parent;		
	height: calc(100vh - 130px);	

	// http://stackoverflow.com/a/7421801/4382179	
	position: relative;
	z-index: 10;	
}

#lp-course-pre-achievement-quiz-intro {
	// @include span-columns(6);
	// @include shift(3);	
	// @include row();	
}

/*--------------------------------

iOS Safari viewport fixed
	https://bugs.webkit.org/show_bug.cgi?id=141832
	http://nicolas-hoizey.com/2015/02/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers.html

-------------------------------- */

.iOSdevicesCourseFixed {
	height: 74vh !important;

	@media all and (orientation:portrait) {
		height: 81vh !important;
	}
	@media all and (orientation:landscape) {
		height: 74.5vh !important;
	}
}

.iOSdevicesFullSlideFixed {
	height: 74vh !important;

	@media all and (orientation:portrait) {
		height: 94.5vh !important;
	}
	@media all and (orientation:landscape) {
		height: 92.4vh !important;
	}
}

/*--------------------------------

General Page

-------------------------------- */

section.lp-page-wrapper {
	@include fill-parent;
}
.lp-page-header {
	@include row();
	margin: 0;
	height: 90px;
	background: #E77C26;
	color: white;
}
.lp-page-header h1 {
	font-family: 'thaisans_neueblack', 'Noto Sans Thai', 'sans-serif';
	font-size: 1.4em;
	text-align: center;
	line-height: 3.7em;

	@include MQ(M) {
		font-size: 2em;
		line-height: 2.9em;
	}
}

/*--------------------------------

Student Portfolio

-------------------------------- */
#lp-student-portfolio {
	@include fill-parent;
}
#lp-student-portfolio .lp-page-header {
	background: #F7F7F7;
}

#lp-student-portfolio .lp-page-header h1 {
	color: black;
}

#student-portfolio-gallery {
	@include fill-parent;
	height: calc(92vh - 90px)  !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}


/* This is not working. Will fixed in the next version. */
.iOSdevicesStudentPortfolioFixed {

	height: calc(90vh - 90px)  !important;


	// iPad in landscape
	// @media only screen
	// and (min-device-width : 768px)
	// and (max-device-width : 1024px)
	// and (orientation : landscape)
	// and (-webkit-min-device-pixel-ratio: 1) {
	// 	height: 70vh !important;
	// }
}

/*--------------------------------

Override RoyalSlider Video Gallery

-------------------------------- */

#video-gallery-1,
#video-gallery-2,
#video-gallery-3 {
  @include fill-parent;
	// height: 74vh;
	height: calc(100vh - 130px);
}


.iOSdevicesPortrait {
	height: 82vh !important;
}

.royalSlider {
  width: 100%;
}

.videoGallery {
	@include row();
}

/* Background */
.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
	background: #FAFAFA;
	color: #FFF;
}

.videoGallery .rsThumbs .rsThumb {
  width: 250px;
  height: 70px;
  // border-bottom: 1px solid #2E2E2E;
  background: #FAFAFA;
  border-bottom: 1px solid darken(#ECECEC, 2%);
}
.videoGallery .rsThumbs {
  width: 250px;
  padding: 0;

}

.videoGallery .rsThumb.rsNavSelected {
	background-color: #DB0000;

	& h5 {
		color: white;
	}
}

.videoGallery .rsTmb h5 {
	font-family: 'Noto Sans Thai', 'sans-serif';
  font-size: 18px;
  font-weight: 700;
  color: #484848;
	line-height: 25px;
}


/* http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/why-video-is-shifted-on-ipad */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 0;
}

.rsDefault .rsCloseVideoBtn {
	visibility: hidden;
}

.rsDefault.rsWithThumbsVer .rsThumbsArrow {
	width: 100%;
	height: 40px;
}

/*--------------------------------

Override nprogress

-------------------------------- */

#nprogress .bar {
  background: #343839;
  height: 3px;
}

#nprogress .spinner-icon {
  width: 30px;
  height: 30px;
  box-sizing: border-box;

  border: solid 3px transparent;
  border-top-color: #343839;
  border-left-color: #343839;
  border-radius: 50%;
}

/*--------------------------------

jBox

-------------------------------- */

.jBox-Tooltip  {
	font-family: 'Noto Sans Thai', 'sans-serif';
	font-size: 1.2em;
}

#jNotify {
	font-size: 1em;
	line-height: 1.5em;
	margin-top: 10px
}

#jNotify .download-browser {
	margin: 20px 20px 10px 0px;
}

#jNotify .chrome-download-icon img {
	width: 64px;
	height: 64px;
	margin: 4px 30px;
	vertical-align: middle;
}


#jNotify .safari-download-icon img {
	width: 76px;
	height: 76px;
	margin: 4px;


	vertical-align: middle;
}

/*--------------------------------

Multiple Choice Quiz Engine

-------------------------------- */

.mcq-col-12 {
	@include outer-container;
	@include span-columns(12);
	// @include shift(1);
	// background-color:red;
}

.mcq-row-table {
	@include outer-container;
	@include row(table);
}

.mcq-row-table-col-6 {
	@include span-columns(6);
}

.mcq-p-16 {
	font-size:16px;
	line-height:21px;
}
.mcq-p-24{
	font-size:24px;
	line-height:30px;
	margin-top:25px !important;
	margin-bottom:25px !important;
}

.mcq-optionBox {
	background:transparent; 
	padding:8px;
	border:none;
	border-radius:0px; 
	-moz-border-radius:0px;
	overflow:hidden !important;
} 
.mcq-optionOver{
	background:#FCD056;
	padding:8px;
	border:none;
	border-radius:0px; 
	-moz-border-radius:0px;
}
.mcq-optionOver p {
	color:#4b4b40;
}
.mcq-optionOut {
	background:transparent !important;
	color:#fff;
	padding:8px;
	border:none;
	border-radius:0px; 
	-moz-border-radius:0px;
	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}
.mcq-nextQuestionBox {
	background:#DD2843;
	padding:2px;
	border:none;
	border-radius:30px; 
	-moz-border-radius:30px;
	overflow:hidden !important;	
	height:50px !important;
} 

.mcq-nextQuestionBox p {
	color:white !important;
	margin:7px 0 !important;
	text-align:center !important;
}
.mcq-nextQuestionOver {
	background:#BA2C41;
	padding:2px;
	border:none;
	border-radius:30px; 
	-moz-border-radius:30px;
	height:50px !important;	
}
.mcq-nextQuestionOver p {
	color:white !important;
	margin:7px 0 !important;	
	text-align:center !important;	
}
.mcq-nextQuestionOut {
	background:#DD2843;
	color:white;
	padding:2px;
	border:none;
	border-radius:30px; 
	-moz-border-radius:30px;
	-webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
	height:50px !important;    
} 
.mcq-nextQuestionOut p {
	color:white !important;
	margin:7px 0 !important;
	text-align:center !important;	
}
  
