/* --------------------------------

Bourbon & Neat

-------------------------------- */
@import url(../font/thaisansneu.css);
@import url(../font/thaisansneu.css);
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*--------------------

Override Variables

--------------------*/
/* --------------------------------

Import

-------------------------------- */
#intro-slider {
  width: 100%;
  height: 100vh; }

.rsContent {
  color: #FFF;
  font-size: 24px;
  line-height: 32px;
  float: left; }

.bContainer {
  position: relative; }

.rsABlock {
  position: relative;
  display: block;
  left: auto;
  top: auto; }

.blockHeadline {
  font-family: 'thaisans_neueblack_italic', 'Noto Sans Thai', 'sans-serif';
  font-size: 3em; }

.blockSubHeadline {
  font-size: 32px;
  line-height: 40px; }

.txtCent {
  text-align: center;
  width: 100%; }

.slide1 {
  background: #3EA4A6; }

.slide1 .bContainer {
  top: 18%; }

.slide1 .blockHeadline {
  font-family: 'thaisans_neueblack', 'Noto Sans Thai', 'sans-serif';
  font-size: 1em;
  margin-top: 5%;
  font-style: normal; }
  @media only screen and (min-width: 1170px) {
    .slide1 .blockHeadline {
      font-size: 2.8em;
      margin-top: 2%; } }

.slide2 {
  background: #7CBF5B;
  color: white; }

.slide2 .blockHeadline {
  font-size: 0.9em;
  margin-top: 45%; }
  @media only screen and (min-width: 1170px) {
    .slide2 .blockHeadline {
      font-size: 2.2em;
      margin-top: 22%; } }

.slide3 {
  background: #E24444;
  color: white; }

.slide3 span {
  line-height: 44px; }

.slide3 .blockHeadline {
  font-size: 0.9em;
  margin-top: 25%; }
  @media only screen and (min-width: 1170px) {
    .slide3 .blockHeadline {
      font-size: 2.2em;
      margin-top: 20%; } }

.slide4 {
  background: #44C0E3;
  color: white; }

.slide4 .bContainer {
  top: 24px; }

.slide4 span {
  line-height: 44px; }

.slide4 .blockHeadline {
  font-size: 0.9em;
  margin-top: 25%; }
  @media only screen and (min-width: 1170px) {
    .slide4 .blockHeadline {
      font-size: 2.2em;
      margin-top: 20%; } }

.photoCopy {
  position: absolute;
  line-height: 24px;
  font-size: 12px;
  background: black;
  color: white;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 0px 10px;
  position: absolute;
  left: 12px;
  bottom: 12px;
  top: auto;
  border-radius: 2px;
  z-index: 25; }

.photoCopy a {
  color: #FFF; }

.logoImg {
  left: 0;
  top: 0;
  width: 185px;
  height: 127px;
  bottom: auto;
  position: absolute; }

.sceneImg {
  margin: 0 auto;
  top: 27%;
  max-width: 95%; }

.artist-actor {
  margin: 0 auto;
  top: 18%;
  left: 20%;
  max-width: 24%; }

.student-notebook-actor {
  margin: 0 auto;
  top: 15%;
  right: 20%;
  max-width: 24%; }

.student-tablet-actor {
  margin: 0 auto;
  top: 15%;
  left: 15%;
  max-width: 24%; }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .sceneImg {
    top: 25%;
    max-width: 90%; }

  .student-tablet-actor {
    top: 20%;
    max-width: 28%; }

  .student-notebook-actor {
    top: 20%;
    max-width: 28%; }

  .slide1 .blockHeadline {
    font-size: 2.3em;
    margin-top: 2%; }

  .slide2 .blockHeadline {
    font-size: 1.8em;
    margin-top: 25%; }

  .slide3 .blockHeadline {
    font-size: 1.8em;
    margin-top: 23%; }

  .slide4 .blockHeadline {
    font-size: 2em;
    margin-top: 21%; } }
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .sceneImg {
    top: 33%;
    max-width: 90%; }

  .artist-actor {
    max-width: 30%; }

  .student-notebook-actor {
    top: 25%;
    max-width: 40%; }

  .student-tablet-actor {
    top: 25%;
    max-width: 40%; }

  .slide1 .blockHeadline {
    font-size: 2em;
    margin-top: 12%; }

  .slide2 .blockHeadline {
    font-size: 1.5em;
    margin-top: 50%; }

  .slide3 .blockHeadline {
    font-size: 1.5em;
    margin-top: 45%; }

  .slide4 .blockHeadline {
    font-size: 2em;
    margin-top: 45%; } }
#video-gallery {
  width: 100%; }

.videoGallery .rsTmb {
  padding: 20px; }

.videoGallery .rsThumbs .rsThumb {
  width: 280px;
  height: 80px;
  border-bottom: 1px solid #2E2E2E; }

.videoGallery .rsThumbs {
  width: 280px;
  padding: 0; }

.videoGallery .rsThumb:hover {
  background: #000; }

.videoGallery .rsThumb.rsNavSelected {
  background-color: #02874A;
  border-bottom-color: #02874A; }

/*--------------------------------

Responsive Tabbed Navigation
http://codyhouse.co/demo/responsive-tabbed-navigation/index.html

Modified by: PhongsakornP.

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*::after, *::before {
  content: ''; }

.cd-tabs {
  position: relative;
  width: 100%; }
  .cd-tabs::after {
    clear: both;
    content: "";
    display: table; }
  .cd-tabs nav {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    background: #f8f7ee;
    box-shadow: inset 0 -2px 3px rgba(203, 196, 130, 0.06);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    box-shadow: inset -2px 0 3px rgba(203, 196, 130, 0.06);
    z-index: 1; }

.cd-tabs-navigation {
  width: 60px;
  float: left; }
  .cd-tabs-navigation::after {
    clear: both;
    content: "";
    display: table; }
  .cd-tabs-navigation li {
    float: left; }
  .cd-tabs-navigation a {
    position: relative;
    display: block;
    height: 60px;
    width: 60px;
    text-align: center;
    font-size: 12px;
    font-size: 0.75rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 700;
    color: #c3c2b9; }
    .no-touch .cd-tabs-navigation a:hover {
      color: #29324e;
      background-color: rgba(233, 230, 202, 0.3); }
    .cd-tabs-navigation a.selected {
      background-color: #ffffff !important;
      box-shadow: inset 3px 0 0 #f05451;
      color: #29324e; }
    .cd-tabs-navigation a::before {
      /* icons */
      position: absolute;
      top: 14px;
      left: 24px;
      margin-left: -10px;
      display: inline-block;
      height: 32px;
      width: 32px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
    .cd-tabs-navigation a[data-content='0']::before {
      background-image: url("../img/home@32px.svg"); }
    .cd-tabs-navigation a[data-content='1']::before {
      background-image: url("../img/pre-achievement-quiz@32px.svg"); }
    .cd-tabs-navigation a[data-content='2']::before {
      background-image: url("../img/paint@32px.svg"); }
    .cd-tabs-navigation a[data-content='3']::before {
      background-image: url("../img/tools@32px.svg"); }
    .cd-tabs-navigation a[data-content='4']::before {
      background-image: url("../img/draw@32px.svg"); }
    .cd-tabs-navigation a[data-content='5']::before {
      background-image: url("../img/student-portfolio@32px.svg"); }
    .cd-tabs-navigation a[data-content='0'].selected::before {
      background-image: url("../img/home-selected@32px.svg"); }
    .cd-tabs-navigation a[data-content='1'].selected::before {
      background-image: url("../img/pre-achievement-quiz-selected@32px.svg"); }
    .cd-tabs-navigation a[data-content='2'].selected::before {
      background-image: url("../img/paint-selected@32px.svg"); }
    .cd-tabs-navigation a[data-content='3'].selected::before {
      background-image: url("../img/tools-selected@32px.svg"); }
    .cd-tabs-navigation a[data-content='4'].selected::before {
      background-image: url("../img/draw-selected@32px.svg"); }
    .cd-tabs-navigation a[data-content='5'].selected::before {
      background-image: url("../img/student-portfolio-selected@32px.svg"); }

.cd-tabs-content {
  background: #ffffff;
  min-height: 320px; }
  .cd-tabs-content li {
    display: none;
    padding: 0 0 0 3.7em; }
    .cd-tabs-content li.selected {
      display: block;
      -webkit-animation: cd-fade-in 0.5s;
      -moz-animation: cd-fade-in 0.5s;
      animation: cd-fade-in 0.5s; }
    .cd-tabs-content li p {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 1.6;
      color: #8493bf;
      margin-bottom: 2em; }

@-webkit-keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@-moz-keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes cd-fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
/*--------------------------------

Morphing Modal Window
http://codyhouse.co/gem/morphing-modal-window/

Modified by: PhongsakornP.

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.cd-section {
  padding: 2em 5%;
  text-align: center;
  background-color: #fff; }
  .cd-section p {
    margin: 2em 0;
    line-height: 1.6;
    color: #000 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 2rem !important; }

.cd-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  -moz-transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s;
  transition: visibility 0s 0.3s, opacity 0.3s 0s, z-index 0s 0.3s; }
  .cd-modal::after {
    /* gradient overlay at bottom of modal window */
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    pointer-events: none;
    background: transparent;
    background: -webkit-linear-gradient( bottom , #f2f2f2, rgba(242, 242, 242, 0));
    background: linear-gradient(to top, #f2f2f2, rgba(242, 242, 242, 0)); }
  .cd-modal .cd-modal-content {
    height: 100%;
    width: 100%;
    padding: 3em 5%;
    text-align: left;
    overflow-y: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cd-modal p {
    color: #fff;
    line-height: 1.6;
    margin: 2em 0; }
  .modal-is-visible .cd-modal {
    z-index: 1;
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    -webkit-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
    -moz-transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s;
    transition: visibility 0s 0s, opacity 0.3s 0s, z-index 0s 0s; }
    .modal-is-visible .cd-modal .cd-modal-content {
      -webkit-overflow-scrolling: touch; }
  @media only screen and (min-width: 768px) {
    .cd-modal .cd-modal-content {
      padding: 4em 10%; } }
  @media only screen and (min-width: 1170px) {
    .cd-modal .cd-modal-content {
      padding: 4em 20%; }
    .cd-modal p {
      font-size: 2rem;
      line-height: 2; } }

.cd-modal-action {
  position: relative; }
  .cd-modal-action .btn {
    display: inline-block;
    height: 4em;
    background-color: #34383c; }
  .cd-modal-action .cd-modal-bg {
    display: inline-block;
    height: 4em;
    background-color: #f2f2f2; }
  .cd-modal-action .btn {
    width: 12.5em;
    border-radius: 5em;
    color: #fff;
    line-height: 4em;
    white-space: nowrap;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
    -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
    transition: color 0.2s 0.3s, width 0.3s 0s; }
    .cd-modal-action .btn.to-circle {
      width: 4em;
      color: transparent;
      -webkit-transition: color 0.2s 0s, width 0.3s 0.2s;
      -moz-transition: color 0.2s 0s, width 0.3s 0.2s;
      transition: color 0.2s 0s, width 0.3s 0.2s; }
  .cd-modal-action .cd-modal-bg {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 0;
    width: 4em;
    border-radius: 50%;
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(-2em);
    -moz-transform: translateX(-2em);
    -ms-transform: translateX(-2em);
    -o-transform: translateX(-2em);
    transform: translateX(-2em);
    -webkit-transition: visibility 0s 0.5s;
    -moz-transition: visibility 0s 0.5s;
    transition: visibility 0s 0.5s; }
    .cd-modal-action .cd-modal-bg.is-visible {
      opacity: 1;
      visibility: visible; }

.cd-modal-close {
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center;
  /* image replacement */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
  transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s; }
  .no-touch .cd-modal-close:hover {
    background-color: rgba(0, 0, 0, 0.5); }
  .modal-is-visible .cd-modal-close {
    visibility: visible;
    opacity: 1;
    -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  @media only screen and (min-width: 768px) {
    .cd-modal-close {
      top: 30px; } }

/* --------------------------------

Primary style

-------------------------------- */
*, *::after, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  html * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

body {
  font-size: 1.6rem;
  font-family: "Noto Sans Thai", sans-serif;
  background-color: #f8f7ee; }

a {
  color: #f05451;
  text-decoration: none; }

html, body {
  width: 100%;
  height: 100%; }

header {
  width: 100%;
  height: 40px; }
  header a::before {
    /* icons */
    position: absolute;
    top: 6px;
    left: 20px;
    margin-left: -10px;
    display: inline-block;
    height: 26px;
    width: 26px;
    background-image: url("../img/home.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; }

footer {
  width: 100%;
  height: 100px;
  background-color: #3EA4A6; }

/*--------------------------------

LearnPaint

-------------------------------- */
.lp-btn {
  display: inline-block;
  height: 3em;
  background-color: #34383c;
  width: 10.5em;
  border-radius: 5em;
  color: #fff;
  line-height: 2.8em;
  white-space: nowrap;
  font-weight: 700;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition: color 0.2s 0.3s, width 0.3s 0s;
  -moz-transition: color 0.2s 0.3s, width 0.3s 0s;
  transition: color 0.2s 0.3s, width 0.3s 0s; }
  .lp-btn.to-circle {
    width: 4em;
    color: transparent;
    -webkit-transition: color 0.2s 0s, width 0.3s 0.2s;
    -moz-transition: color 0.2s 0s, width 0.3s 0.2s;
    transition: color 0.2s 0s, width 0.3s 0.2s; }

.lp-course {
  width: 100%; }

.lp-course-content {
  width: 100%;
  height: calc(100vh - 130px);
  position: relative;
  z-index: 10; }

.lp-course-header {
  display: block;
  margin: 0;
  height: 130px; }
  .lp-course-header::after {
    clear: both;
    content: "";
    display: table; }

.lp-course-header-side {
  text-align: center;
  padding: 1em;
  margin: 0;
  height: 130px;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .lp-course-header-side:last-child {
    margin-right: 0; }
  @media only screen and (min-width: 768px) {
    .lp-course-header-side {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .lp-course-header-side:last-child {
        margin-right: 0; } }
  @media only screen and (min-width: 1170px) {
    .lp-course-header-side {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 23.2317613015%; }
      .lp-course-header-side:last-child {
        margin-right: 0; } }

.lp-course-header-side img {
  display: block;
  height: 3.3em;
  margin: auto; }
  @media only screen and (min-width: 768px) {
    .lp-course-header-side img {
      margin-top: -2px; } }
  @media only screen and (min-width: 768px) {
    .lp-course-header-side img {
      height: 4em; } }

.lp-course-header-side h1 {
  font-family: 'thaisans_neueblack', 'Noto Sans Thai', 'sans-serif';
  font-size: 1.4em;
  margin-top: 0.7em;
  color: white; }
  @media only screen and (min-width: 768px) {
    .lp-course-header-side h1 {
      font-size: 1.8em;
      margin-top: 0.3em; } }
  @media only screen and (min-width: 1170px) {
    .lp-course-header-side h1 {
      font-size: 2em;
      margin-top: 0.35em; } }

.lp-course-header-info {
  height: 130px;
  background-color: #FBFDD4;
  padding: 20px 50px; }

.lp-course-header-info h1 {
  font-family: 'thaisans_neuebold', 'Noto Sans Thai', 'sans-serif';
  font-size: 1em;
  margin-top: 0.45em;
  line-height: 1.2em; }
  @media only screen and (min-width: 768px) {
    .lp-course-header-info h1 {
      font-size: 1.6em;
      margin-top: 0em;
      line-height: 1.2em; } }

.lp-course-content-slide {
  margin-top: 100px;
  text-align: center; }

.lp-course-content-slide p {
  font-size: 18px !important;
  line-height: 25px;
  margin: 20px 50px;
  color: black !important;
  text-align: center; }

.lp-close-modal-btn {
  cursor: pointer;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 5%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.3) url(../img/cd-icon-close.svg) no-repeat center center; }

.lp-course-quiz {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px; }
  .lp-course-quiz::after {
    clear: both;
    content: "";
    display: table; }

#lp-course-1 .lp-course-header-side {
  background: #7CBF5B; }

#lp-course-1 .lp-course-header-info {
  background: #D6F5C7; }

#lp-course-2 .lp-course-header-side {
  background: #5B79BF; }

#lp-course-2 .lp-course-header-info {
  background: #D5E2FF; }

#lp-course-3 .lp-course-header-side {
  background: #F3D43C; }

#lp-course-3 .lp-course-header-info {
  background: #FEF6D1; }

#lp-course-pre-achievement-quiz .lp-course-header-side {
  background: #2B9BD3; }

#lp-course-pre-achievement-quiz .lp-course-header-info {
  background: #61C4F6; }

/*--------------------------------

iOS Safari viewport fixed
	https://bugs.webkit.org/show_bug.cgi?id=141832
	http://nicolas-hoizey.com/2015/02/viewport-height-is-taller-than-the-visible-part-of-the-document-in-some-mobile-browsers.html

-------------------------------- */
.iOSdevicesCourseFixed {
  height: 74vh !important; }
  @media all and (orientation: portrait) {
    .iOSdevicesCourseFixed {
      height: 81vh !important; } }
  @media all and (orientation: landscape) {
    .iOSdevicesCourseFixed {
      height: 74.5vh !important; } }

.iOSdevicesFullSlideFixed {
  height: 74vh !important; }
  @media all and (orientation: portrait) {
    .iOSdevicesFullSlideFixed {
      height: 94.5vh !important; } }
  @media all and (orientation: landscape) {
    .iOSdevicesFullSlideFixed {
      height: 92.4vh !important; } }

/*--------------------------------

General Page

-------------------------------- */
section.lp-page-wrapper {
  width: 100%; }

.lp-page-header {
  display: block;
  margin: 0;
  height: 90px;
  background: #E77C26;
  color: white; }
  .lp-page-header::after {
    clear: both;
    content: "";
    display: table; }

.lp-page-header h1 {
  font-family: 'thaisans_neueblack', 'Noto Sans Thai', 'sans-serif';
  font-size: 1.4em;
  text-align: center;
  line-height: 3.7em; }
  @media only screen and (min-width: 768px) {
    .lp-page-header h1 {
      font-size: 2em;
      line-height: 2.9em; } }

/*--------------------------------

Student Portfolio

-------------------------------- */
#lp-student-portfolio {
  width: 100%; }

#lp-student-portfolio .lp-page-header {
  background: #F7F7F7; }

#lp-student-portfolio .lp-page-header h1 {
  color: black; }

#student-portfolio-gallery {
  width: 100%;
  height: calc(92vh - 90px) !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; }

/* This is not working. Will fixed in the next version. */
.iOSdevicesStudentPortfolioFixed {
  height: calc(90vh - 90px) !important; }

/*--------------------------------

Override RoyalSlider Video Gallery

-------------------------------- */
.iOSdevicesPortrait {
  height: 82vh !important; }

.royalSlider {
  width: 100%; }

.videoGallery {
  display: block; }
  .videoGallery::after {
    clear: both;
    content: "";
    display: table; }

/* Background */
.rsDefault,
.rsDefault .rsOverflow,
.rsDefault .rsSlide,
.rsDefault .rsVideoFrameHolder,
.rsDefault .rsThumbs {
  background: #FAFAFA;
  color: #FFF; }

.videoGallery .rsThumbs .rsThumb {
  width: 250px;
  height: 70px;
  background: #FAFAFA;
  border-bottom: 1px solid #e7e7e7; }

.videoGallery .rsThumbs {
  width: 250px;
  padding: 0; }

.videoGallery .rsThumb.rsNavSelected {
  background-color: #DB0000; }
  .videoGallery .rsThumb.rsNavSelected h5 {
    color: white; }

.videoGallery .rsTmb h5 {
  font-family: 'Noto Sans Thai', 'sans-serif';
  font-size: 18px;
  font-weight: 700;
  color: #484848;
  line-height: 25px; }

/* http://help.dimsemenov.com/kb/royalslider-jquery-plugin-faq/why-video-is-shifted-on-ipad */
.rsVideoContainer.rsIOSVideo iframe,
.rsVideoContainer.rsIOSVideo video,
.rsVideoContainer.rsIOSVideo embed {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 0; }

.rsDefault .rsCloseVideoBtn {
  visibility: hidden; }

.rsDefault.rsWithThumbsVer .rsThumbsArrow {
  width: 100%;
  height: 40px; }

/*--------------------------------

Override nprogress

-------------------------------- */
#nprogress .bar {
  background: #343839;
  height: 3px; }

#nprogress .spinner-icon {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: solid 3px transparent;
  border-top-color: #343839;
  border-left-color: #343839;
  border-radius: 50%; }

/*--------------------------------

jBox

-------------------------------- */
.jBox-Tooltip {
  font-family: 'Noto Sans Thai', 'sans-serif';
  font-size: 1.2em; }

#jNotify {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 10px; }

#jNotify .download-browser {
  margin: 20px 20px 10px 0px; }

#jNotify .chrome-download-icon img {
  width: 64px;
  height: 64px;
  margin: 4px 30px;
  vertical-align: middle; }

#jNotify .safari-download-icon img {
  width: 76px;
  height: 76px;
  margin: 4px;
  vertical-align: middle; }

/*--------------------------------

Multiple Choice Quiz Engine

-------------------------------- */
.mcq-col-12 {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  float: left;
  display: block;
  margin-right: 2.3576515979%;
  width: 100%; }
  .mcq-col-12::after {
    clear: both;
    content: "";
    display: table; }
  .mcq-col-12:last-child {
    margin-right: 0; }

.mcq-row-table {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  display: table;
  width: 100%;
  table-layout: fixed; }
  .mcq-row-table::after {
    clear: both;
    content: "";
    display: table; }

.mcq-row-table-col-6 {
  display: table-cell;
  width: 50%; }

.mcq-text-glow {
  text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5); }

.mcq-text-orange {
  color: #f7c160; }

.mcq-p-16 {
  font-size: 16px;
  line-height: 21px; }

.mcq-p-24 {
  font-size: 24px;
  line-height: 30px;
  margin-top: 25px !important;
  margin-bottom: 25px !important; }

.mcq-p-30 {
  font-size: 30px;
  line-height: 35px;
  margin-top: 30px !important;
  margin-bottom: 30px !important; }

.mcq-optionBox {
  background: transparent;
  padding: 8px;
  border: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  overflow: hidden !important; }

.mcq-optionOver {
  background: #FCD056;
  padding: 8px;
  border: none;
  border-radius: 0px;
  -moz-border-radius: 0px; }

.mcq-optionOver p {
  color: #4b4b40; }

.mcq-optionOut {
  background: transparent !important;
  color: #fff;
  padding: 8px;
  border: none;
  border-radius: 0px;
  -moz-border-radius: 0px;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear; }

.mcq-nextQuestionBox {
  background: #DD2843;
  padding: 2px;
  border: none;
  border-radius: 30px;
  -moz-border-radius: 30px;
  overflow: hidden !important;
  height: 50px !important; }

.mcq-nextQuestionBox p {
  color: white !important;
  margin: 7px 0 !important;
  text-align: center !important; }

.mcq-nextQuestionOver {
  background: #BA2C41;
  padding: 2px;
  border: none;
  border-radius: 30px;
  -moz-border-radius: 30px;
  height: 50px !important; }

.mcq-nextQuestionOver p {
  color: white !important;
  margin: 7px 0 !important;
  text-align: center !important; }

.mcq-nextQuestionOut {
  background: #DD2843;
  color: white;
  padding: 2px;
  border: none;
  border-radius: 30px;
  -moz-border-radius: 30px;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;
  height: 50px !important; }

.mcq-nextQuestionOut p {
  color: white !important;
  margin: 7px 0 !important;
  text-align: center !important; }

/*# sourceMappingURL=main.css.map */
